body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.active {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
    border-left: 3px solid rgb(91, 182, 185);
}

.hidden {
    display: none;
}

/* Sidebar */
#sidebar {
    width: 15%;
    background-color: rgb(34, 39, 39);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#user-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#user-area #avatar {
    margin-right: 10px;
}

#user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-details h3 {
    font-size: 20px;
}

#user-details h3,
#user-details p {
    color: white;
    font-family: monospace;
    margin: 0;
}

#avatar {
    width: 70px;
}

#menu-list {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 18px;
    font-family: monospace;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.menu-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-list-item img {
    width: 20px;
    margin-right: 15px;
}

#new-list-btn {
    background-color: transparent;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    margin-top: auto;
    border: none;
    border-radius: 5px;
}

#new-list-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#new-list-btn img {
    width: 20px;
    margin-right: 10px;
}
/* Sidebar */

/* Main */
#content {
    width: 100%;
}

#task-details{
    width: 35%;
    background-color: rgb(34, 39, 39);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#close-task-details {
    display: flex;
    margin-bottom: 10px;
}

#close-task-details button {
    background-color: transparent;
    margin-left: auto;
    border: none;
}

#close-task-details button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#task-title,
#task-day,
#task-schedule,
#task-note {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    margin-bottom:10px;
    border-radius: 5px;
}

#task-day:hover,
#task-schedule:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#task-date {
    display: flex;
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#task-date p {
    color: white;
    font-family: monospace;
    margin: 10px;
}

#task-date button {
    background-color: transparent;
    margin-left: auto;
    border: none;
}

#task-date button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#task-title h1,
#task-day p,
#task-schedule p {
    color: white;
    font-family: monospace;
}

#task-note textarea {
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
}

#task-note textarea::placeholder {
    color: white;
}

.task-details-icon {
    width: 20px;
    margin: 10px;
}

#task-star-icon {
    margin-left: auto;
}
/* Main */