:root {
    --check-size: 20px;
    --check-border-width: 2px;
    --checkmark-width: calc(var(--check-size) / 2);
    --checkmark-height: calc(var(--checkmark-width) / 2);
    --checkmark-left: calc(var(--checkmark-width) / 2);
    --checkmark-top: 50%;
    --checkmark-color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.active {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
    border-left: 3px solid rgb(91, 182, 185);
}

/* Sidebar */
#sidebar {
    width: 15%;
    background-color: rgb(34, 39, 39);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#user-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#user-area #avatar {
    margin-right: 10px;
}

#user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-details h3 {
    font-size: 20px;
}

#user-details h3,
#user-details p {
    color: white;
    font-family: monospace;
    margin: 0;
}

#avatar {
    width: 70px;
}

#menu-list {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 18px;
    font-family: monospace;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.menu-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-list-item img {
    width: 20px;
    margin-right: 15px;
}

#lists-container {
    overflow: auto;
}

#lists {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 18px;
    font-family: monospace;
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.list-item .list-text {
    color: white;
    font-size: 18px;
    font-family: monospace;
    margin: 10px;
}

.list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-item img {
    width: 25px;
    margin-right: 15px;
}

#new-list-btn {
    background-color: transparent;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    margin-top: auto;
    border: none;
    border-radius: 5px;
}

#new-list-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#new-list-btn img {
    width: 20px;
    margin-right: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: rgb(34, 39, 39);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
}

.modal-content form h2 {
    color: white;
    font-family: monospace;
}


.modal-content form input {
    background-color: #DDD;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.modal-content form input:focus {
    border: 2px solid #b34747;
}


.modal-content form button[type="submit"], 
.modal-content form button[type="reset"]  {
    background-color: transparent;
    color: white;
    width: 49%;
    height: 40px;
    font-family: monospace;
    font-size: large;
    border: 1px solid white;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}

.modal-content form button[type="submit"]:hover, 
.modal-content form button[type="reset"]:hover  {
    background-color: white;
    color: black;
}

.modal-content form button[type="submit"]:hover, 
.modal-content form button[type="reset"]:hover  {
    opacity: 0.8;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Content */
/* Sidebar */

/* Main */
#content {
    width: 100%;
}

#task-details{
    width: 35%;
    background-color: rgb(34, 39, 39);
    display: none;
    flex-direction: column;
    padding: 10px;
}

#close-task-details {
    display: flex;
    margin-bottom: 10px;
}

#close-task-details button {
    background-color: transparent;
    margin-left: auto;
    border: none;
}

#close-task-details button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#task-title,
#task-day,
#task-schedule,
#task-note {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:10px;
    border-radius: 5px;
}

#task-day:hover,
#task-schedule:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#task-date {
    display: flex;
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#task-date p {
    color: white;
    font-family: monospace;
    margin: 10px;
}

#task-date button {
    background-color: transparent;
    margin-left: auto;
    border: none;
}

#task-date button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#task-title h1,
#task-day p,
#task-schedule p {
    color: white;
    font-family: monospace;
}

#task-schedule input[type="date"] {
    background-color: transparent;
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#task-schedule input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%)

}

#task-schedule input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#task-note textarea {
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
}

#task-note textarea::placeholder {
    color: white;
}

.task-details-icon {
    width: 20px;
    margin: 10px;
}

#task-star-icon {
    margin-left: auto;
}
/* Main */